{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "useTabs": true,
  "trailingComma": "none",
  "printWidth": 150,
  "singleAttributePerLine": false,
  "arrowParens": "always",
  "plugins": []
}
