# Learn more https://docs.expo.dev/guides/monorepos
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native / signing credentials
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
credentials/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Local env files
.env*.local
.env
